<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}"
>
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">
        Getting Started : Serving Web Content
    </title>
</head>
<body>
<div class="page-content" layout:fragment="content">
    <h1 th:text="${welcomeMessage}"></h1><br>
    <span th:text="${students.name}"></span><br>
    <span th:text="${students.email}"></span><br>
    <span th:text="${students.dob}"></span><br>
</div>
</body>
</html>